<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <p class="h5 mt-2">صف درخواست های خرید</p>
    </div>
</div>

<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <app-darkhast class="p-2" #safeKharid noeDarkhast="kharid" columnsList="['fullName','username','noeDarkhast','tedadSahm','arzeshSahm','tedadMoamelehShodeh','tedadBaghiMandeh','tarikhDarkhast','vazeiat']"></app-darkhast>
    </div>
</div>
<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <p class="h5 mt-2">صف درخواست های فروش</p>
    </div>
</div>
<div class="row">
    <div class="col-sm d-flex justify-content-center">
        <app-darkhast class="p-2" #safeKharid noeDarkhast="forush" columnsList="['fullName','username','noeDarkhast','tedadSahm','arzeshSahm','tedadMoamelehShodeh','tedadBaghiMandeh','tarikhDarkhast','vazeiat']"></app-darkhast>
    </div>
</div>