<div class="align-items-center">
  <form autocomplete="off" #f="ngForm" novalidate (ngSubmit)="sendMessage()" (keyup.enter)="sendMessage()"
    style="max-width: 100%;">
    <div class="d-flex flex-row flex-wrap">
      <div class="col-sm-12 col-md-3">
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" name="name" id="name" placeholder="نام">
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" style="margin-top: 25px;" name="familhy" id="family"
            placeholder="شماره تماس">
        </div>
        <div class="form-group">
          <input type="text" class="form-control form-control-sm" style="margin-top: 25px;" name="receiver"
            id="receiver" placeholder="گیرنده پیام">
        </div>
      </div>
      <div class="col-sm-12 col-md-9">
        <div class="d-flex flex-column">
          <div class="form-group">
            <textarea rows="4" type="" class="form-control form-control-sm" name="message" id="message"
              placeholder="متن پیام"></textarea>
          </div>
          <div class="form-group">
            <div class="btn btn-warning btn-sm btn-block" style="margin-top: 7px;">ارسال پیام</div>
          </div>
        </div>
      </div>
    </div>
  </form>

</div>
