<div class="row">
  <div class="col-sm-12 m-3">
    <dx-data-grid #safeKharidGrid [editing]="{allowUpdating:true}" [showBorders]="true" [rtlEnabled]="true" [dataSource]="listDarkhast">
      <dxo-paging [pageSize]="10"></dxo-paging>
      <dxi-column alignment="center" dataField="noeDarkhast" width="90" caption="نوع درخواست"></dxi-column>
      <dxi-column alignment="center" dataField="vazeiat" width="110" caption="وضعیت"></dxi-column>
      <dxi-column alignment="center" dataField="tedadSahm" width="70" caption="تعداد سهم"></dxi-column>
      <dxi-column alignment="center" dataField="tedadMoamelehShodeh" width="100" caption="تعداد معامله شده"></dxi-column>
      <dxi-column alignment="center" dataField="tedadBaghiMandeh" width="100" caption="تعداد باقیمانده"></dxi-column>
      <dxi-column alignment="center" dataField="arzeshSahm" width="120" caption="مبلغ"></dxi-column>
      <dxi-column alignment="center" dataField="tarikhDarkhast" width="190" caption="تاریخ ثبت درخواست"></dxi-column>
      <dxi-column alignment="center" dataField="tozihat" width="250" caption="توضیحات"></dxi-column>
      <dxi-column alignment="center" cellTemplate="cancelButtonTemplate" caption="لغو" width="50"></dxi-column>
      <!-- <dxi-column alignment="center" cellTemplate="saveButtonTemplate" caption="ثبت" width="50"></dxi-column> -->

      <div *dxTemplate="let d of 'cancelButtonTemplate'">
        <button (click)="cancel('لغو')">لغو</button>
      </div>
      <!-- <div *dxTemplate="let d of 'saveButtonTemplate'">
        <button (click)="save(d)">ثبت</button>
      </div> -->
    </dx-data-grid>
  </div>
</div>