<br>
<div class="container-fluid mt-5 pt-5">
  <div class="row">
    <div class="col-sm-12 m-3">
      <dx-data-grid #listDarkhastGrid [showRowLines]="true" (onKeyDown)="keyDown($event)"
        (onRowUpdating)="rowUpdating($event)" [showColumnLines]="true" [rowAlternationEnabled]="true"
        [paging]="{enabled:true,pageSize:10}"
        [pager]="{showInfo:true,showNavigationButtons:true,showPageSizeSelector: true,allowedPageSizes: [5, 10, 20]}"
        [showBorders]="true" [rtlEnabled]="true" [dataSource]="listDarkhastDataSource">
        <dxo-editing mode="cell">
        </dxo-editing>
        <dxi-column alignment="center" dataField="noeDarkhast" width="85" caption="نوع درخواست"></dxi-column>
        <dxi-column alignment="center" dataField="vazeiat" width="100" caption="وضعیت"></dxi-column>
        <dxi-column alignment="center" dataField="tedadSahm" width="70" caption="تعداد سهم"></dxi-column>
        <dxi-column alignment="center" dataField="tedadMoamelehShodeh" width="120" caption="تعداد معامله شده">
        </dxi-column>
        <dxi-column alignment="center" dataField="tedadBaghiMandeh" width="95" caption="تعداد باقیمانده"></dxi-column>
        <dxi-column alignment="center" dataField="tarikhDarkhast" width="130" caption="تاریخ ثبت درخواست"></dxi-column>
        <dxi-column alignment="center" dataField="tarikhUpdate" width="145" caption="تاریخ به روزرسانی"></dxi-column>
        <dxi-column alignment="center" dataField="tozihat" width="250" caption="توضیحات"></dxi-column>
        <dxi-column alignment="center" cellTemplate="cancelButtonTemplate" caption="لغو" width="50"></dxi-column>
        <dxi-column alignment="center" cellTemplate="editButtonTemplate" caption="ویرایش" width="150"></dxi-column>

        <!-- <div *dxTemplate="let d of 'jalaliDatetime'">
          {{d.data.tarikhDarkhast|jalaliDatetime}}
        </div> -->

        <div *dxTemplate="let d of 'cancelButtonTemplate'">
          <a *ngIf="d.data.vazeiat!='لغو شده' && d.data.vazeiat!='انجام شده'" (click)="cancel(d)"><span
              tooltip="لغو درخواست" placement="right" class="fa fa-ban" style="font-size: 13pt;"></span></a>
        </div>

        <div *dxTemplate="let d of 'editButtonTemplate'">
          <span *ngIf="d.data.vazeiat!='لغو شده' && d.data.vazeiat!='انجام شده'">
            <a *ngIf="!editingMode" (click)="editRow(d)"><span tooltip="ویرایش" placement="right" class="fa fa-edit"
                style="font-size: 13pt;"></span></a>
            <a *ngIf="editingMode && d.rowIndex===rowIndex" (click)="cancelEdit(d)" class="mx-3"><span
                tooltip="لغو تغییرات" placement="right" class="fa fa-window-close" style="font-size: 13pt;"></span></a>
            <a *ngIf="editingMode && d.rowIndex===rowIndex" (click)="saveChange(d)"><span tooltip="ثبت تغییرات"
                placement="right" class="fa fa-save" style="font-size: 13pt;"></span></a>
          </span>
        </div>
      </dx-data-grid>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>
