<div class="container-fluid mt-5">
  <div class="row"></div>
</div>
<div class="container-fluid  mt-5">
  <div class="row ml-auto">
    <div class="col-sm-6 col-md-4 col-lg-2 t-6">
      نام:
      <span class="badge badge-primary">{{user?.fullName}}</span>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 t-6">
      کد سهامداری:
      <span class="badge badge-success">{{ user?.username }}</span>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-2 t-6">
      تعداد دارایی سهام:
      <span class="badge badge-warning">{{user?.tedadSahm}}</span>
    </div>
  </div>
  <hr>
  <div class="row text-right mr-2">
    <div class="col-sm-3">
      لیست معاملات
    </div>
  </div>
  <div class="row">
    <div class="col-sm m-3">
      <dx-data-grid #moamelatGrid [showRowLines]="true" [showColumnLines]="true" [rowAlternationEnabled]="true"
        [paging]="{enabled:true,pageSize:10}"
        [pager]="{showInfo:true,showNavigationButtons:true,showPageSizeSelector: true,allowedPageSizes: [5, 10, 20]}"
        [showBorders]="true" [rtlEnabled]="true" [dataSource]="moameleha">
        <dxi-column alignment="center" dataField="tarikhMoameleh" width="170" caption="تاریخ معامله"></dxi-column>
        <dxi-column alignment="center" dataField="noeMoameleh" width="100" [calculateCellValue]="calcNoeMoameleh"
          caption="نوع معامله">
        </dxi-column>
        <dxi-column alignment="center" dataField="_id" width="190" caption="شناسه معامله"></dxi-column>
        <dxi-column alignment="center" dataField="tedadSahmMoameleh" width="100" caption="تعداد سهام"></dxi-column>
        <dxi-column alignment="center" dataField="gheymatMoameleh" width="100" caption="قیمت سهام"></dxi-column>
        <dxi-column alignment="center" dataField="arzeshSahmMoameleh" width="100" caption="ارزش معامله"></dxi-column>
        <dxi-column alignment="center" dataField="forushandeh.fullName" width="120" caption="نام فروشنده"></dxi-column>
        <dxi-column alignment="center" dataField="kharidar.fullName" width="120" caption="نام خریدار"></dxi-column>

        <!-- <div *dxTemplate="let d of 'jalaliDatetime'">
          {{d.data.tarikhMoameleh|jalaliDatetime}}
        </div> -->

      </dx-data-grid>
    </div>
  </div>
</div>
